@import 'variables';
body{
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}
.header{
    width: 100%;
    margin: 0 auto;
    background-color: $color_azul;
    .header-menu{
        padding: 30px 0;
        height: 30px;
        h1{
              color: #fff;
              font-size: 24px;
              text-transform: uppercase;
              margin: 0;
              float: left;
        }
        nav{
            float: right;
            ul{
                list-style: none;
                li{
                    float: left;
                    a{
                        padding: 15px;
                        color: #fff;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.separador{
    width: 240px;
    position: absolute;
    padding: 0 38%;
    display: inline-block;
    .separador-line{
        height: 4px;
        width: 100px;
        margin: 12px 5px;
        float: left;
    }
    .ion-star{
        font-size: 22px;
        float: left;
    }
}

.color_azul{
    color: $color_azul;
}
.color_blanco{
    color: $color_blanco;
}
.color_bg_blanco{
    background-color: $color_blanco;
}
.color_bg_azul{
    background-color: $color_azul;
}

.encabezados{
    margin: 60px 0 0 0;
    position: relative;
    height: 70px;
    display: inline-block;
    width: 960px;
    h3{
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        margin: 0;
    }
}

.info{
    background: $color_verde;
    .info-profesion{
        padding: 90px 245px;
        width: 470px;
        .separador{
            padding: 0 9%;
        }
        img{
            padding: 0 107px;
        }
        h2{
            font-size: 50px;
            text-transform: uppercase;
            color: #fff;
            text-align: center;
            margin-bottom: 10px;
        }
        p{
            font-size: 14px;
            color: #fff;
            text-align: center;
            margin-top: 50px;
        }
    }
}

.portfolio{
    .portfolio-work{
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
        margin-bottom: 40px;
        li{
            float: left;
            width: 31.25%;
            margin-right: 30px;
            margin-bottom: 30px;
            &.last{
                margin-right: 0px;
            }
            img{
                width: 100%;
            }
        }
    }
}

.about{
    background-color: $color_verde;
    .parrafos{
        display: inline-block;
        margin: 0 100px 40px 100px;
        text-align: center;
        p{
        width: 46%;
        float: left;
        padding-left: 25px;
        color: #fff;
        text-align: left;
        }
        a{
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 10px 15px;
            text-align: center;
            color: #fff;
            text-decoration: none;
            margin-top: 15px;
            display: inline-block;
        }
    }
}

.footer{
    background-color: $color_bg_azul;
    height: 160px;
    article{
        width: 27%;
        padding: 25px;
        display: inline-block;
        color: #fff;
        text-align: center;
        h3{
        text-transform: uppercase;
        margin-bottom: 15px;
        }
        p{

        }
        span{
            border-radius: 50%;
            border: 1px solid #fff;
            padding: 10px;
            width: 25px;
            display: inline-block;
            font-size: 20px;
            margin-right: 2px;
            margin-top: 8px;
        }
        a{
            color: #18bc9c;
        }
    }
}

.copy{
    background-color: $color_bg_azul_oscuro;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #fff;
}
